@{
    ViewBag.Title = "About Us";
    ViewBag.ActiveItem = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles {

    <link rel="stylesheet" media="screen" href="~/assets/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" media="screen" href="~/assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" media="screen" href="~/assets/vendor/lightgallery/css/lightgallery-bundle.min.css">
}
<header class="header navbar navbar-expand-lg position-absolute navbar-sticky">
    <div class="container px-3">
        <a href="/" class="navbar-brand pe-3">
            <img src="~/assets/img/logo/logoinsoft.png" alt="Insoft Nepal">
@*             INSOFT&#127475;&#127477; *@
        </a>
        <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <partial name="~/Views/Shared/header.cshtml" />
            </div>
        </div>
        <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
            <input type="checkbox" class="form-check-input" id="theme-mode">
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</header>


<!-- Hero -->
<section class="position-relative pt-5">

    <!-- Background -->
    <div class="position-absolute top-0 start-0 w-100 bg-position-bottom-center bg-size-cover bg-repeat-0" style="background-image: url('/assets/img/about/hero-bg.svg');">
        <div class="d-lg-none" style="height: 960px;"></div>
        <div class="d-none d-lg-block" style="height: 768px;"></div>
    </div>

    <!-- Content -->
    <div class="container position-relative zindex-5 pt-5">
        <div class="row">
            <div class="col-lg-6">

                <!-- Breadcrumb -->
                <nav class="pt-md-2 pt-lg-3 pb-4 pb-md-5 mb-xl-4" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">About v.1</li>
                    </ol>
                </nav>

                <!-- Text -->
                <h1 class="pb-2 pb-md-3">About Insoft</h1>
                <p class="fs-xl pb-4 mb-1 mb-md-2 mb-lg-3" style="max-width: 526px;">Insoft, headquartered in Pokhara, Nepal, is a leading software development company providing secure, IRD-certified systems. Founded on 2065-10-17 BS, Insoft specializes in innovative IT solutions, empowering businesses through software, hardware, and automation. With extensive expertise and resources, Insoft focuses on web-based technology, information management, and security, positioning itself as a “transformation catalyst” for clients. As one of Nepal’s largest in hardware sales and maintenance, Insoft delivers robust infrastructure and end-to-end services across web and desktop platforms.</p>
                @* <img src="~/assets/img/about/clutch-dark.png" class=" d-dark-mode-none" width="175" alt="Clutch">
                <img src="~/assets/img/about/clutch-light.png" class="d-none d-dark-mode-block" width="175" alt="Clutch"> *@
                <div class="row row-cols-3 pt-4 pt-md-5 mt-2 mt-xl-4">
                    <div class="col">
                        <h3 class="h2 mb-2">2,480</h3>
                        <p class="mb-0"><strong>Remote</strong> Sales Experts</p>
                    </div>
                    <div class="col">
                        <h3 class="h2 mb-2">760</h3>
                        <p class="mb-0"><strong>New Clients</strong> per Month</p>
                    </div>
                    <div class="col">
                        <h3 class="h2 mb-2">1,200</h3>
                        <p class="mb-0"><strong>Requests</strong> per Week</p>
                    </div>
                </div>
            </div>

            <!-- Images -->
            <div class="col-lg-6 mt-xl-3 pt-5 pt-lg-4">
                <div class="row row-cols-2 gx-3 gx-lg-4">
                    <div class="col pt-lg-5 mt-lg-1">
                        <img src="~/assets/img/about/hero/01.jpg" class="d-block rounded-3 mb-3 mb-lg-4" alt="Image">
                        <img src="~/assets/img/about/hero/02.jpg" class="d-block rounded-3" alt="Image">
                    </div>
                    <div class="col">
                        <img src="~/assets/img/about/hero/03.jpg" class="d-block rounded-3 mb-3 mb-lg-4" alt="Image">
                        <img src="~/assets/img/about/hero/04.jpg" class="d-block rounded-3" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Benefits (features) -->
<section class="container mt-3 mb-5 pt-lg-5" id="benefits">
    <div class="swiper pt-3" data-swiper-options='{
          "slidesPerView": 1,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 2
            },
            "991": {
              "slidesPerView": 3
            }
          }
        }'>
        <div class="swiper-wrapper pt-4">

            <!-- Item -->
            <div class="swiper-slide border-end-lg px-2">
                <div class="text-center">
                    <img src="~/assets/img/landing/digital-agency/icons/idea.svg" width="48" alt="Bulb icon" class="d-block mb-4 mx-auto">
                    <h4 class="mb-2 pb-1">Creative Solutions</h4>
                    <p class="mx-auto" style="max-width: 336px;">Sed morbi nulla pulvinar lectus tempor vel euismod accumsan.</p>
                </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide border-end-lg px-2">
                <div class="text-center">
                    <img src="~/assets/img/landing/digital-agency/icons/award.svg" width="48" alt="Award icon" class="d-block mb-4 mx-auto">
                    <h4 class="mb-2 pb-1">Award Winning</h4>
                    <p class="mx-auto" style="max-width: 336px;">Sit facilisis dolor arcu, fermentum vestibulum arcu elementum imperdiet.</p>
                </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide px-2">
                <div class="text-center">
                    <img src="~/assets/img/landing/digital-agency/icons/team.svg" width="48" alt="Team icon" class="d-block mb-4 mx-auto">
                    <h4 class="mb-2 pb-1">Team of Professionals</h4>
                    <p class="mx-auto" style="max-width: 336px;">Nam venenatis urna aenean quis feugiat et senectus turpis.</p>
                </div>
            </div>
        </div>

        <!-- Pagination (bullets) -->
        <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4"></div>
    </div>
</section>


<!-- Video showreel -->
<section class="container text-center pb-5 mt-n2 mt-md-0 mb-md-2 mb-lg-4">
    <div class="position-relative rounded-3 overflow-hidden">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center zindex-5">
            <a href="https://www.youtube.com/watch?v=zPo5ZaH6sW8" class="btn btn-video btn-icon btn-xl stretched-link bg-white" data-bs-toggle="video" aria-label="Play video">
                <i class="bx bx-play"></i>
            </a>
        </div>
        <span class="position-absolute top-0 start-0 w-100 h-100 bg-black opacity-35"></span>
        <img src="~/assets/img/landing/digital-agency/cover.jpg" class="d-block w-100" alt="Cover image">
    </div>
</section>





<!-- Team -->
<section class="container py-5 my-md-3 my-lg-5">
    <h2 class="h1 text-center pt-1 pb-3 mb-3 mb-lg-4">Our Leadership</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

        <!-- Item -->
        <div class="col">
            <div class="card card-hover border-0 bg-transparent">
                <div class="position-relative">
                    <img src="~/assets/img/team/01.jpg" class="rounded-3" alt="Jenny Wilson">
                    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                        <div class="position-relative d-flex zindex-2">
                            <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2" aria-label="Facebook">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2" aria-label="LinkedIn">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white" aria-label="Twitter">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center p-3">
                    <h3 class="fs-lg fw-semibold pt-1 mb-2">Jenny Wilson</h3>
                    <p class="fs-sm mb-0">Co-Founder &amp; CEO</p>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="col">
            <div class="card card-hover border-0 bg-transparent">
                <div class="position-relative">
                    <img src="~/assets/img/team/02.jpg" class="rounded-3" alt="Ralph Edwards">
                    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                        <div class="position-relative d-flex zindex-2">
                            <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2" aria-label="Facebook">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2" aria-label="LinkedIn">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white" aria-label="Twitter">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center p-3">
                    <h3 class="fs-lg fw-semibold pt-1 mb-2">Ralph Edwards</h3>
                    <p class="fs-sm mb-0">Co-Founder</p>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="col">
            <div class="card card-hover border-0 bg-transparent">
                <div class="position-relative">
                    <img src="~/assets/img/team/03.jpg" class="rounded-3" alt="Cameron Williamson">
                    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                        <div class="position-relative d-flex zindex-2">
                            <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2" aria-label="Facebook">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-dribbble btn-sm bg-white me-2" aria-label="Dribbble">
                                <i class="bx bxl-dribbble"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white" aria-label="LinkedIn">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center p-3">
                    <h3 class="fs-lg fw-semibold pt-1 mb-2">Cameron Williamson</h3>
                    <p class="fs-sm mb-0">Creative Director</p>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="col">
            <div class="card card-hover border-0 bg-transparent">
                <div class="position-relative">
                    <img src="~/assets/img/team/04.jpg" class="rounded-3" alt="Jerome Bell">
                    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                        <div class="position-relative d-flex zindex-2">
                            <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2" aria-label="Facebook">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white me-2" aria-label="Twitter">
                                <i class="bx bxl-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white" aria-label="LinkedIn">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center p-3">
                    <h3 class="fs-lg fw-semibold pt-1 mb-2">Jerome Bell</h3>
                    <p class="fs-sm mb-0">Marketing Director</p>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="col">
            <div class="card card-hover border-0 bg-transparent">
                <div class="position-relative">
                    <img src="~/assets/img/team/05.jpg" class="rounded-3" alt="Marvin McKinney">
                    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                        <div class="position-relative d-flex zindex-2">
                            <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2" aria-label="Facebook">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-behance btn-sm bg-white me-2" aria-label="Behance">
                                <i class="bx bxl-behance"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-dribbble btn-sm bg-white" aria-label="Dribbble">
                                <i class="bx bxl-dribbble"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center p-3">
                    <h3 class="fs-lg fw-semibold pt-1 mb-2">Marvin McKinney</h3>
                    <p class="fs-sm mb-0">Lead Designer</p>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="col">
            <div class="card card-hover border-0 bg-transparent">
                <div class="position-relative">
                    <img src="~/assets/img/team/06.jpg" class="rounded-3" alt="Esther Howard">
                    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                        <div class="position-relative d-flex zindex-2">
                            <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2" aria-label="Facebook">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-dribbble btn-sm bg-white me-2" aria-label="Dribbble">
                                <i class="bx bxl-dribbble"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-behance btn-sm bg-white" aria-label="Behance">
                                <i class="bx bxl-behance"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center p-3">
                    <h3 class="fs-lg fw-semibold pt-1 mb-2">Esther Howard</h3>
                    <p class="fs-sm mb-0">Motion Designer</p>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="col">
            <div class="card card-hover border-0 bg-transparent">
                <div class="position-relative">
                    <img src="~/assets/img/team/07.jpg" class="rounded-3" alt="Darrell Steward">
                    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                        <div class="position-relative d-flex zindex-2">
                            <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2" aria-label="Facebook">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-stack-overflow btn-sm bg-white me-2" aria-label="Stack Overflow">
                                <i class="bx bxl-stack-overflow"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-github btn-sm bg-white" aria-label="GitHub">
                                <i class="bx bxl-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center p-3">
                    <h3 class="fs-lg fw-semibold pt-1 mb-2">Darrell Steward</h3>
                    <p class="fs-sm mb-0">Lead Developer</p>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="col">
            <div class="card card-hover border-0 bg-transparent">
                <div class="position-relative">
                    <img src="~/assets/img/team/08.jpg" class="rounded-3" alt="Jane Cooper">
                    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                        <div class="position-relative d-flex zindex-2">
                            <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2" aria-label="Facebook">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2" aria-label="LinkedIn">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                            <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white" aria-label="Twitter">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center p-3">
                    <h3 class="fs-lg fw-semibold pt-1 mb-2">Jane Cooper</h3>
                    <p class="fs-sm mb-0">Senior Project Manager</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Contact CTA -->
<section class="container mt-n2">
    <div class="card border-0 bg-gradient-primary">
        <div class="card-body p-md-5 p-4 bg-size-cover" style="background-image: url('/assets/img/landing/digital-agency/contact-bg.png');">
            <div class="py-md-5 py-4 text-center">
                <h3 class="h4 fw-normal text-light opacity-75">Want to work with us? Let’s talk</h3>
                <a href="mailto:email@example.com" class="display-6 text-light">info@insoftnepal.com</a>
                <div class="pt-md-5 pt-4 pb-md-2">
                    <a href="/Contact" class="btn btn-lg btn-light">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Social networks (Carousel on narrow screens) -->
<section class="container text-center py-5 my-2 my-md-4 my-lg-5">
    <h2 class="h1 mb-4">We Have Social Networks</h2>
    <p class="fs-lg text-muted pb-2 mb-5">Follow us and keep up to date with the freshest news!</p>
    <div class="swiper" data-swiper-options='{
          "slidesPerView": 2,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 3
            },
            "650": {
              "slidesPerView": 4
            },
            "900": {
              "slidesPerView": 5
            },
            "1100": {
              "slidesPerView": 6
            }
          }
        }'>
        <div class="swiper-wrapper">

            <!-- Item -->
            <div class="swiper-slide">
                <div class="position-relative text-center border-end mx-n1">
                    <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-lg stretched-link" aria-label="Facebook">
                        <i class="bx bxl-facebook"></i>
                    </a>
                    <div class="pt-4">
                        <h6 class="mb-1">Facebook</h6>
                        <p class="fs-sm text-muted mb-0">Insoft</p>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide">
                <div class="position-relative text-center border-end mx-n1">
                    <a href="#" class="btn btn-icon btn-secondary btn-instagram btn-lg stretched-link" aria-label="Instagram">
                        <i class="bx bxl-instagram"></i>
                    </a>
                    <div class="pt-4">
                        <h6 class="mb-1">Instagram</h6>
                        <p class="fs-sm text-muted mb-0">@("@")Insoft</p>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide">
                <div class="position-relative text-center border-end mx-n1">
                    <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-lg stretched-link" aria-label="Twitter">
                        <i class="bx bxl-twitter"></i>
                    </a>
                    <div class="pt-4">
                        <h6 class="mb-1">Twitter</h6>
                        <p class="fs-sm text-muted mb-0">@("@")Insoft</p>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide">
                <div class="position-relative text-center border-end mx-n1">
                    <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-lg stretched-link" aria-label="LinkedIn">
                        <i class="bx bxl-linkedin"></i>
                    </a>
                    <div class="pt-4">
                        <h6 class="mb-1">LinkedIn</h6>
                        <p class="fs-sm text-muted mb-0">Insoft</p>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide">
                <div class="position-relative text-center border-end mx-n1">
                    <a href="#" class="btn btn-icon btn-secondary btn-youtube btn-lg stretched-link" aria-label="Twitter">
                        <i class="bx bxl-youtube"></i>
                    </a>
                    <div class="pt-4">
                        <h6 class="mb-1">YouTube</h6>
                        <p class="fs-sm text-muted mb-0">Insoft</p>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="swiper-slide">
                <div class="position-relative text-center border-end mx-n1">
                    <a href="#" class="btn btn-icon btn-secondary btn-dribbble btn-lg stretched-link" aria-label="TikTok">
                        <i class="bx bxl-tiktok"></i>
                    </a>
                    <div class="pt-4">
                        <h6 class="mb-1">TikTok</h6>
                        <p class="fs-sm text-muted mb-0">Insoft</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination (bullets) -->
        <div class="swiper-pagination position-relative bottom-0 pt-3 mt-4"></div>
    </div>
</section>

@section footer {
    <footer class="footer bg-dark pt-5 pb-4 pb-lg-5" data-bs-theme="dark">
        <div class="container pt-lg-4">
            <div class="row pb-5">
                <div class="col-lg-4 col-md-6">
                    <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
                        <img src="~/assets/img/logo/logoinsoft.png" width="100" alt="Insoft Nepal">
                    </div>
                    <p class="fs-5 text-light opacity-70 pb-lg-3 mb-4">The software development company, HQ(Pokhara, Nepal). We want you to have a managed, rigid, robust, secure, IRD certified, system for your business which you work so hard for.</p>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
                    <div id="footer-links" class="row">
                        <div class="col-lg-4">
                            <h6 class="mb-2">
                                <a href="#useful-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Useful Links</a>
                            </h6>
                            <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                                <ul class="nav flex-column pb-lg-1 mb-lg-3">
                                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Home</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Services</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">About Us</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">News &amp; Insights</a></li>
                                </ul>
                                <ul class="nav flex-column mb-2 mb-lg-0">
                                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Terms &amp; Conditions</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-3">
                            <h6 class="mb-2">
                                <a href="#social-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Socials</a>
                            </h6>
                            <div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                                <ul class="nav flex-column mb-2 mb-lg-0">
                                    <li class="nav-item"><a href="https://www.facebook.com/InsoftResearchAndDevelopment/" class="nav-link d-inline-block px-0 pt-1 pb-2">Facebook</a></li>
                                    <li class="nav-item"><a href="https://www.linkedin.com/company/insoft-research-development" class="nav-link d-inline-block px-0 pt-1 pb-2">LinkedIn</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Twitter</a></li>
                                    <li class="nav-item"><a href="https://www.youtube.com/@@insoftnepal9246" class="nav-link d-inline-block px-0 pt-1 pb-2">YouTube</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
                            <h6 class="mb-2">
                                <a href="#contact-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Contact Us</a>
                            </h6>
                            <div id="contact-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                                <ul class="nav flex-column mb-2 mb-lg-0">
                                    <li class="nav-item"><a href="mailto:info@insoftnepal.com" class="fw-medium">info@insoftnepal.com</a></li>
                                    <li class="nav-item"><a href="tel:+97761-540815" class="fw-medium">+97761-540815</a></li>
                                    <li class="nav-item"><a href="tel:+97761-539579" class="fw-medium">+97761-539579</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
                <span class="text-light opacity-50">Copyright &copy; 2024 All rights reserved. Made by </span>
                <a class="nav-link d-inline-block p-0" href="#" target="_blank" rel="noopener">Insoft Research And Development</a>
            </p>
        </div>
    </footer>
}

@section scripts {

    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="~/assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
}